<a href="#" (click)="showTeam()"><img src="assets/icons/poketeam.png" alt="My Poketeam" class="team_icon"></a>
<div class="poketeam" *ngIf="show">
  <button class=""></button>
    <!-------------------------PIKACHU--------------------------->
  <section class="lista">
    <a class="pokemon" href="details/25">
      <section class="pokemon__status">
        <h2>pikachu</h2>
        <h3>Electric</h3>
        
  </section>
  <section class="pokemon__image">
        <img class="pokemon-img" src="assets/team-imgs/pikachu.gif" alt="pikachu" />
  </section>
    </a>
  </section>
  <!-----------------------------CHARIZARD--------------------------->
  <section class="lista" >
    <a class="pokemon" href="details/6" >
      <section class="pokemon__status">
          <h2>Charizard</h2>
          <h3>Fire</h3>
          <h3>Flying</h3>
  </section>
  <section class="pokemon__image">
        <img class="pokemon-img" src="assets/team-imgs/charizard.gif" alt="charizard" />
  </section>
    </a>
  </section>
  <!----------------------------Machamp----------------------------->
  <section class="lista">
    <a class="pokemon" href="details/68">
     <section class="pokemon__status">
          <h2>Machamp</h2>
          <h3>Fighting</h3>
    </section>
    <section class="pokemon__image">
          <img class="pokemon-img" src="assets/team-imgs/machamp.gif" alt="machamp" />
    </section>
    </a>
  </section>
  <!----------------------------DRAGONITE------------------------------->
  <section class="lista">
    <a class="pokemon" href="details/149">
     <section class="pokemon__status">
          <h2>Dragonite</h2>
          <h3>Dragon</h3>
          <h3>Flying</h3>
    </section>
    <section class="pokemon__image">
           <img class="pokemon-img" src="assets//team-imgs/dragonite.gif" alt="Dragonite" />
    </section>
    </a>
  </section>
  <!----------------------------NINETALES------------------------------->
  <section class="lista">
    <a class="pokemon" href="details/38">
     <section class="pokemon__status">
        <h2>Ninetales</h2>
        <h3>Fire</h3>
    </section>
    <section class="pokemon__image">
           <img class="pokemon-img" src="assets/team-imgs/ninetales.gif" alt="Nitenales" />
    </section>
    </a>
  </section>
  <!----------------------------MEOWTH------------------------------->
  <section class="lista">
    <a class="pokemon" href="details/52" >
     <section class="pokemon__status">
        <h2>Meowth</h2>
        <h3>Normal</h3>
        
    </section>
    <section class="pokemon__image">
          <img class="pokemon-img" src="assets/team-imgs/meowth.gif" alt="meowth" />
    </section>
    </a>
  </section>
  </div>
