@import '../../../config-scss/rem-calc.scss';

:host{
   
    }

.pika img{
border-radius: 40%;
display: flex;
justify-content: right;


padding: rem-calc(40) 36%;
}
.milogo img{
    display: flex;
    justify-content: end;
    width: 5%;
    height: 5%;
    border-radius: 50%;
    margin: 10px;
}